<form action="/api/create" method="POST">
  Date:<br>
  <input type="date" name="date" placeholder="Enter Number"><br>
  Day:<br>
  <input type="number" name="day" placeholder="Enter Number"><br>
  <!-- World Outside:<br>
  <input type="text" name="day" placeholder="Enter Number"><br> -->
  FeelingsOut:<br>
  <input type="text" name="feelingsout" placeholder="Enter Text"><br>
  ValuesOut:<br>
  <input type="text" name="valuesout" placeholder="Enter Value"><br>
  FeelingsIn:<br>
  <input type="text" name="feelingsin" placeholder="Enter Text"><br>
  ValuesIn:<br>
  <input type="text" name="valuesin" placeholder="Enter Text"><br>
 <!--  Feeling:<br>
  <input type="text" name="feeling" placeholder="Enter Value"><input id="range1" type="range" name="feelingValue" min="1" max="6" step="1"><span id="span1"></span><br>
  Feeling:<br>
  <input type="text" name="feeling" placeholder="Enter Value"><input id="range1" type="range" name="feelingValue" min="1" max="6" step="1"><span id="span1"></span><br>

  Value:<br>
  <input type="text" name="value" placeholder="Enter Number"><br> -->
 <!--  World Inside:<br>
  <input type="text" name="tags" placeholder="Enter Total"><br>
  Self-Doubt:<br>
  <input type="text" name="weight" placeholder="Enter Number"><br>
  Self-Confident:<br>
  <input type="text" name="co" placeholder="Enter Number"><br> -->
  <!-- URL:<br>
  <input type="text" name="url" placeholder="Enter URL"><br> -->

  <input type="submit" value="Submit">
</form>
<!-- 
<script type="text/javascript">
  document.getElementById("range1").oninput = function() {
    myFunction()
  };


function myFunction() {
   var val = document.getElementById("range1").value //gets the oninput value
   document.getElementById('span1').innerHTML = val //displays this value to the html page
}
</script> -->