<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sumana" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|EB+Garamond|Josefin+Slab|Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Fullpage -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/scrolloverflow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>

    <script src="libraries/jqfloat.js" type="text/javascript"></script>

    <script src="//d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/timeline.css"> -->
    <link rel="stylesheet" type="text/css" href="css/day1.css">
    <link rel="stylesheet" type="text/css" href="css/day2.css">
    <link rel="stylesheet" type="text/css" href="css/day3.css">
    <link rel="stylesheet" type="text/css" href="css/day4.css">
    <link rel="stylesheet" type="text/css" href="css/day5.css">
    <link rel="stylesheet" type="text/css" href="css/day25.css">

</head>

<body>
    <div class="container-fluid">
        <div class="container" id="nav-container">
            <br></br>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <nav class="nav justify-content-end" role="tablist">
                        <a class="nav-link" href="/">Story</a>
                        <a class="nav-link" href="home">Days</a>
                        <a class="nav-link" href="feelings">Feelings</a>
                        <a class="nav-link" href="sketches">Sketches</a>
                        <a class="nav-link active" href="about">About</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <br></br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1>The World Outside</h1>

                    <div class="row" id='happyOut'>
                        <div class='col-md-12 fl'>&nbsp;happy</div>
                    </div>

                    <br></br>
                    <div class="row" id='sadOut'>
                        <div class='col-md-12 fl'>&nbsp;sad</div>
                    </div>

                    <br></br>
                    <div class="row" id='tiredOut'>
                        <div class='col-md-12 fl'>&nbsp;tired</div>
                    </div>

                    <br></br>
                    <div class="row" id='gratefulOut'>
                        <div class='col-md-12 fl'>&nbsp;grateful</div>
                    </div>

                    <br></br>
                    <div class="row" id='productiveOut'>
                        <div class='col-md-12 fl'>&nbsp;productive</div>
                    </div>

                    <br></br>
                    <div class="row" id='excitedOut'>
                        <div class='col-md-12 fl'>&nbsp;excited</div>
                    </div>

                    <br></br>
                    <div class="row" id='stressedOut'>
                        <div class='col-md-12 fl'>&nbsp;stressed</div>
                    </div>

                    <br></br>
                    <div class="row" id='confidentOut'>
                        <div class='col-md-12 fl'>&nbsp;confident</div>
                    </div>

                    <br></br>
                    <div class="row" id='inspiredOut'>
                        <div class='col-md-12 fl'>&nbsp;inspired</div>
                    </div>

                    <br></br>
                    <div class="row" id='exhaustedOut'>
                        <div class='col-md-12 fl'>&nbsp;exhausted</div>
                    </div>

                    <br></br>
                    <div class="row" id='indecisiveOut'>
                        <div class='col-md-12 fl'>&nbsp;indecisive</div>
                    </div>

                    <br></br>
                    <div class="row" id='relaxedOut'>
                        <div class='col-md-12 fl'>&nbsp;relaxed</div>
                    </div>

                    <!-- <br></br>
                    <div class="row" id='enlightenedOut'>
                        <div class='col-md-12 fl'>&nbsp;enlightened</div>
                    </div> -->

                    <br></br>
                    <div class="row" id='hungryOut'>
                        <div class='col-md-12 fl'>&nbsp;hungry</div>
                    </div>

                    <br></br>
                    <div class="row" id='worriedOut'>
                        <div class='col-md-12 fl'>&nbsp;worried</div>
                    </div>

                    <br></br>
                    <div class="row" id='balancedOut'>
                        <div class='col-md-12 fl'>&nbsp;balanced</div>
                    </div>

                    <br></br>
                    <div class="row" id='emotionalOut'>
                        <div class='col-md-12 fl'>&nbsp;emotional</div>
                    </div>

                    <br></br>
                    <div class="row" id='accomplishedOut'>
                        <div class='col-md-12 fl'>&nbsp;accomplished</div>
                    </div>

                    <br></br>
                    <div class="row" id='frustratedOut'>
                        <div class='col-md-12 fl'>&nbsp;frustrated</div>
                    </div>

                    <br></br>
                    <div class="row" id='doubtfulOut'>
                        <div class='col-md-12 fl'>&nbsp;doubtful</div>
                    </div>


                    <!-- <br></br>
                    <div class="row" id='positiveOut'>
                        <div class='col-md-12 fl'>&nbsp;positive</div>
                    </div> -->

                    <br></br>
                    <div class="row" id='annoyedOut'>
                        <div class='col-md-12 fl'>&nbsp;annoyed</div>
                    </div>
                    <!--
                    <br></br>
                    <div class="row" id='hurtOut'>
                        <div class='col-md-12 fl'>&nbsp;hurt</div>
                    </div> -->

                    <!-- <br></br>
                    <div class="row" id='lostOut'>
                        <div class='col-md-12 fl'>&nbsp;lost</div>
                    </div> -->

                    <!-- <br></br>
                    <div class="row" id='inloveOut'>
                        <div class='col-md-12 fl'>&nbsp;in love</div>
                    </div> -->
                </div>

                <div class="col-md-6">
                    <h1>The World Inside</h1>

                    <div class="row" id='happyIn'>
                        <div class='col-md-12 fl'>&nbsp;happy</div>
                    </div>

                    <br></br>
                    <div class="row" id='sadIn'>
                        <div class='col-md-12 fl'>&nbsp;sad</div>
                    </div>

                    <br></br>
                    <div class="row" id='tiredIn'>
                        <div class='col-md-12 fl'>&nbsp;tired</div>
                    </div>

                    <br></br>
                    <div class="row" id='gratefulIn'>
                        <div class='col-md-12 fl'>&nbsp;grateful</div>
                    </div>

                    <br></br>
                    <div class="row" id='productiveIn'>
                        <div class='col-md-12 fl'>&nbsp;productive</div>
                    </div>

                    <br></br>
                    <div class="row" id='excitedIn'>
                        <div class='col-md-12 fl'>&nbsp;excited</div>
                    </div>

                    <br></br>
                    <div class="row" id='stressedIn'>
                        <div class='col-md-12 fl'>&nbsp;stressed</div>
                    </div>

                    <br></br>
                    <div class="row" id='confidentIn'>
                        <div class='col-md-12 fl'>&nbsp;confident</div>
                    </div>

                    <br></br>
                    <div class="row" id='inspiredIn'>
                        <div class='col-md-12 fl'>&nbsp;inspired</div>
                    </div>

                    <br></br>
                    <div class="row" id='exhaustedIn'>
                        <div class='col-md-12 fl'>&nbsp;exhausted</div>
                    </div>

                    <br></br>
                    <div class="row" id='indecisiveIn'>
                        <div class='col-md-12 fl'>&nbsp;indecisive</div>
                    </div>

                    <br></br>
                    <div class="row" id='relaxedIn'>
                        <div class='col-md-12 fl'>&nbsp;relaxed</div>
                    </div>

                    <!-- <br></br>
                    <div class="row" id='enlightenedIn'>
                        <div class='col-md-12 fl'>&nbsp;enlightened</div>
                    </div> -->

                    <br></br>
                    <div class="row" id='hungryIn'>
                        <div class='col-md-12 fl'>&nbsp;hungry</div>
                    </div>

                    <br></br>
                    <div class="row" id='worriedIn'>
                        <div class='col-md-12 fl'>&nbsp;worried</div>
                    </div>

                    <br></br>
                    <div class="row" id='balancedIn'>
                        <div class='col-md-12 fl'>&nbsp;balanced</div>
                    </div>

                    <br></br>
                    <div class="row" id='emotionalIn'>
                        <div class='col-md-12 fl'>&nbsp;emotional</div>
                    </div>


                    <br></br>
                    <div class="row" id='accomplishedIn'>
                        <div class='col-md-12 fl'>&nbsp;accomplished</div>
                    </div>

                    <br></br>
                    <div class="row" id='frustratedIn'>
                        <div class='col-md-12 fl'>&nbsp;frustrated</div>
                    </div>

                    <br></br>
                    <div class="row" id='doubtfulIn'>
                        <div class='col-md-12 fl'>&nbsp;doubtful</div>
                    </div>

                    <!-- <br></br>
                    <div class="row" id='positiveIn'>
                        <div class='col-md-12 fl'>&nbsp;positive</div>
                    </div> -->

                    <br></br>
                    <div class="row" id='annoyedIn'>
                        <div class='col-md-12 fl'>&nbsp;annoyed</div>
                    </div>

                    <!-- <br></br>
                    <div class="row" id='hurtIn'>
                        <div class='col-md-12 fl'>&nbsp;hurt</div>
                    </div> -->

                    <!-- <br></br>
                    <div class="row" id='lostIn'>
                        <div class='col-md-12 fl'>&nbsp;lost</div>
                    </div> -->

                    <!-- <br></br>
                    <div class="row" id='inloveIn'>
                        <div class='col-md-12 fl'>&nbsp;in love</div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2542/in-view.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="libraries/tether.min.js"></script>
<script src="libraries/bootstrap.min.js"></script>
<script src="libraries/svg.min.js"></script>
<script src="js/feelings.js"></script>

</html>
