<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <title>RiveScript-JS</title> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sumana" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="datadumper.js"></script> -->
    <!-- <script type="text/javascript" src="rivescript.js"></script> -->
    <script src="/libraries/p5.js" type="text/javascript"></script>
    <script src="/libraries/p5.dom.js" type="text/javascript"></script>
    <script src="/libraries/p5.sound.js" type="text/javascript"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />


</head>

<body>
    <div class="container-fluid">
        <div class="container" id="nav-container">
            <br></br>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <nav class="nav justify-content-end" role="tablist">
                        <a class="nav-link" href="/">Story</a>
                        <a class="nav-link" href="home">Days</a>
                        <a class="nav-link" href="feelings">Feelings</a>
                        <a class="nav-link" href="sketches">Sketches</a>
                        <a class="nav-link active" href="about">About</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wrapper">

                <h1>My Every Day Sketches</h1>
                <h3>How the day went influenced my drawings.</h3>

                <!-- Day1 -->
                <!-- <div class = "section"> -->
                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day1.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day1.jpg">
                    </div>

                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day2.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day2.jpg">
                    </div>

                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day3.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day3.jpg">
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day4.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day4.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day5.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day5.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day6.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day6.jpg">
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day7.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day7.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day8.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day8.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day9.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day9.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day10.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day10.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day11.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day11.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day12.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day12.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day13.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day13.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day14.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day14.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day15.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day15.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day16.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day16.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day17.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day17.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day18.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day18.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day19.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day19.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day20.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day20.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day21.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day21.jpg">
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day22.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day22.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day23.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day23.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day24.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day24.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day25.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day25.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day26.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day26.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day27.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day27.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day28.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day28.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day29.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day29.jpg">
                    </div>
                    <div class="col-lg-4">
                        <br></br>
                        <br></br>
                        <img src="img/Day30.jpg" width="450" class="img-responsive" data-fancybox="gallery" href="img/Day30.jpg">
                    </div>
                </div>

            </div>
        </div>

        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

</body>

<!-- JQuery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="libraries/tether.min.js"></script>
<script src="libraries/bootstrap.min.js"></script>
<script src="libraries/svg.min.js"></script>

<!-- CUSTOM JS -->
<script src="js/main.js"></script>

</html>
